<div class="container d-flex flex-row justify-content-between mb-3">
  <h1 class="title">Categories</h1>
  <div class="actions">
    <%= link_to "New Category", new_category_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="container">
  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Color</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr class="">
          <th scope="row"><%= category.id %></th>
          <td><%= category.name %></td>
          <td>
            <div class="d-flex flex-row gap-2">
              <span>#<%= category.color %></span>
              <div style="width: 1rem; height: 1rem; background-color: #<%= category.color %>"></div>
            <div>
          </td>
          <td>
            <%= link_to "Show", category_path(category), class: "btn btn-primary" %>
            <%= link_to "Edit", edit_category_path(category), class: "btn btn-warning" %>
            <%= link_to "Destroy", category_path(category), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>