<!DOCTYPE html>
<html>
  <head>
    <title>Bagbag - User</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/logo_bagdex.png" alt="Bootstrap" width="100">
        </a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/bagmons">Bagmons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/categories">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/battle">Batle</a>
            </li>
          </ul>
          <%= link_to "Logoof", destroy_user_session_path, class: 'btn btn-outline-primary', method: :delete %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
